@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Krona One", serif;
  background: #f3ece170;
}
.bg- {
  filter: brightness(50%);
}
.ff-roboto {
  font-family: "Roboto", serif;
}
.toggle-button {
  transition: background-color 0.3s ease; /* Smooth background color transition */
}
.our-work-card {
  box-shadow: 0 2px 6px -2px #c7c7c7;
}
.slider-box-shadow {
  box-shadow: 1px 1px 7px 0px rgba(0, 0, 0, 0.13),
    0px 0px 2px 0px rgba(0, 0, 0, 0.05);
}
.tab-active {
  background-color: #f5a42f !important;
  color: #fff !important;
}
.scroll-hide::-webkit-scrollbar {
  background: #d2d2d2 !important;
  height: 3px !important;
}
::-webkit-scrollbar {
  background: #d2d2d2 !important;
  width: 6px !important;
}
::-webkit-scrollbar-thumb {
  background: #f5a42f;
  border-radius: 10px;
}
.scroll-hide::-webkit-scrollbar-thumb {
  background: #f5a42f;
  border-radius: 10px;
}
