@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Inter", serif;
}
.poppins {
  font-family: "Poppins", serif;
}

.bg- {
  filter: brightness(50%);
}
.ff-outfit {
  font-family: "Outfit", serif;
}
.toggle-button {
  transition: background-color 0.3s ease; /* Smooth background color transition */
}
.our-work-card {
  box-shadow: 0 2px 6px -2px #c7c7c7;
}
.slider-box-shadow {
  box-shadow: 1px 1px 7px 0px rgba(0, 0, 0, 0.13),
    0px 0px 2px 0px rgba(0, 0, 0, 0.05);
}
.scroll-hide::-webkit-scrollbar {
  background: #d2d2d2 !important;
  height: 5px !important;
}
::-webkit-scrollbar {
  background: #d2d2d2 !important;
  width: 6px !important;
}
::-webkit-scrollbar-thumb {
  background: #f7c810;
  border-radius: 10px;
}
.scroll-hide::-webkit-scrollbar-thumb {
  background: #f7c810;
  border-radius: 10px;
}
.box-shadow-main {
  box-shadow: 0px 0px 4px 0px
    rgba(102.83230895996093, 102.83230895996093, 102.83230895996093, 0.5) inset;
}
.blurs {
  backdrop-filter: blur(1px);
  /* -webkit-filter: blur(8px); */
}
